<div class="wrapper">
    <div class="side-bar">
        <%#= render "side_bar" %>
    </div>
</div>
<div class="main">
    <div class="contents row">
    <% @memotweets.each do |memotweet| %>
        <p><%= memotweet.title %></p>
        <span class="name">
            <%= memotweet.text %>
        </span>
        </div>
    <% end %>
    </div>
</div>

